# ignore EVERYTHING
*

# whitelist only what's needed
!.gitignore
!config.el
!gdscript.el
!ascii-art.txt
!README.md
!snippets/
!snippets/**
!unreal-engine-mode/
!unreal-engine-mode/**
!ue-assist-mode/
!ue-assist-mode/**
!coil-mode/
!coil-mode/**
!chot/
!chot/**

**/.yas-compiled-snippets.el
**/*~
**/#*#