# ignore EVERYTHING
/**

# whitelist only what's needed
!.gitignore
!config.el
!ascii-art.txt
!README.md
!snippets/
!snippets/**
snippets/*~
!unreal-engine-mode/
!unreal-engine-mode/**
unreal-engine-mode/*~
